@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: "roboto";
    font-family: "outfit";
}

 /* .fade {
    opacity: 0;
  
    transition: all 1s;
}
  
.show {
    opacity: 1;
} 
 */
